@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

hr {
    margin: 20px 35px;
    border-color: rgb(235, 235, 235);
}

#task_btn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

.hide {
    display: none;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    margin: 15px 35px;
}

/* form */
.contact_form_box {
    /* border: 1px solid ; */
    height: 80vmin;
    justify-content: center;
    align-items: center;
    display: flex;

}

.contact_form label,
input,
.contact_form button {

    width: 80vmin;
    display: block;
    justify-content: center;
    align-items: center;
    /* border: 1px solid ; */
}


/* tasklist */
table, th, td {
  border:1px solid black;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: 95%;
    margin: auto;
}

table th {
    text-align: left;
    width: 90vh;
    align-items: center;
    color: aqua;
    border: 1px solid;

}