
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}
.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 16px;
   
}
.input-container input[type="text"]{
width: 70%;
 background-color:rgb(243, 243, 229);
}
.input-container input[type="button"]{

 background-color:rgb(42, 83, 0);
 color: #ffffff;
 font-weight: 500;
 margin-left: 8px;
 cursor: pointer;
 padding: 12px 24px;
}
ul{
    width: 100%;
    max-width: 450px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

ul li{
    list-style-type: none;
    cursor: pointer;
    border: 0.125px solid #a19f9f;
    border-radius: 8px;
    margin-block: 12px;
    padding: 6px 12px;
    background-color: rgb(255, 245, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li p{
    flex-grow: 1;
    padding: 2px;
}

.btn{
    border: none;
    outline: none;
    background-color: none;
    font: 16px;
    font-weight: 600;
    cursor: pointer; 
    padding: 8px;
    margin-inline-end: 12px;
}

.removeBtn{
    color: rgb(121, 12, 12);
    
}
.editBtn{
    color: rgb(14, 83, 14);
}